<div class="wrapper wrapper-content animated">
  <div class="row">
    <div class="col-lg-10">
      <div class="ibox">
        <div class="ibox-title">
            <h2>Create Item</h2>
        </div>
      </div>
      <div class="ibox-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
